asgiref==3.7.2
dataclasses==0.6
Django==4.1.13
django-cors-headers==4.3.1
djangorestframework==3.14.0
dnspython==2.5.0
jedi==0.19.1
packaging==23.2
parso==0.8.3
psycopg2-binary==2.9.9
pudb==2024.1
Pygments==2.17.2
pypdf==4.1.0
python-decouple==3.8
pytz==2024.1
sqlparse==0.2.4
typing_extensions==4.10.0
urwid==2.6.8
urwid_readline==0.14
wcwidth==0.2.13
PyPDF2==3.0.1
PyMuPDF==1.23.26
PyMuPDFb==1.23.22
djangorestframework_simplejwt==5.3.1 
pyjwt==2.8.0